<section class="content-header" style="margin-bottom:2%;">
   <h1>
    Upload Your CV    
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Upload CV</li>
  </ol>
</section>


<div class="container" ng-show="uploaderState===0">
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-info">
		        <div class="panel-heading">
		        	<div class="row">
		        		<div class="col-md-11">
		        			<center><h4><b>Enter CV JSON</b></h4></center>		        			
		        		</div> 	
		        		<div class="col-md-1">
		        			<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#sampleModal">Sample</button>
		        		</div>
		        	</div>
		            
		        </div>
		        

		        <div class="panel-body">
		        	<div class="box box-primary">
			            <div class="box-header with-border">
			              <h3 class="box-title text-center"></h3>
			            </div>
			            <br>
			            <div class="box-body">
				            <div class="row">
				            	<div class="col-md-12">
				            		<textarea id="cvJson" class="form-control" cols="12" rows="30" ng-model="cvJson"></textarea>
				            	</div>				        		
				        	</div>
				        	<br>		        	
			        	</div>			            
			          </div>		        	
		        </div>

		        <div class="row">
		        	<div class="col-md-4 col-md-offset-4">
		        		<button type="button" ng-click="submit()" class="btn btn-block btn-success btn-lg">SUBMIT</button>
		        	</div>
		        </div>

		        <br>

		    </div>
    	</div>
    </div>
</div>

<div class="container" ng-show="uploaderState===1">
	<div class="row">
		<div class="col-md-12">
			<center>
				<img ng-src="/static/img/loading3.gif">
			</center>			
		</div>
	</div>
</div>

<div class="container" ng-show="uploaderState===2">
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-info">
		        <div class="panel-heading">
		        	<div class="row">
		        		<div class="col-md-12">
		        			<center><h4><b>Enter Your Details</b></h4></center>
		        		</div> 	
		        	</div>
		            
		        </div>
		        
		        <div class="panel-body">
		        	<div class="box box-primary">
			            <div class="box-header with-border">
			              <h3 class="box-title text-center">Personal Details</h3>
			            </div>
			            <br>
			            <div class="box-body">
				            <div class="row">
				        		<div class="col-md-6">
				        			<label>Name</label><br>
				        			<p>[[cvObject.name]]</p>
				        		</div>
				        		<div class="col-md-6">
				        			<label>Date Of Birth:</label><br>
				        			<p>[[cvObject.dob]]</p>
				        		</div>
				        	</div>
				        	<br><br>

				        	<div class="row">
				        		<div class="col-md-6">
				        			<label>Email ID</label><br>
				        			<p>[[cvObject.email]]</p>
				        		</div>
				        		<div class="col-md-6">
				        			<label>Phone Number:</label><br>
				        			<p>[[cvObject.phone_number]]</p>
				        		</div>
				        	</div>
				        	<br>				        	
			        	</div>			            
			          </div>		        	
		        </div>


		        <div class="panel-body">
		        	<div class="box box-primary">
			            <div class="box-header with-border">
			              <h3 class="box-title text-center">Portfolio URLs</h3>
			            </div>
			            <br>
			            <div class="row box" ng-repeat="l in cvObject.links" style="margin-bottom: 3%; padding: 2%">
			            	<div class="col-md-12">
			            		<label>[[ l.name ]]</label><br>
			            		<p>[[ l.url ]]</p>
			            	</div>			            	
			            </div>			            
			          </div>		        	
		        </div>



		        <div class="panel-body">
		        	<div class="box box-primary">
			            <div class="box-header with-border">
			              <h3 class="box-title text-center">Qualifications</h3>
			            </div>
			            <br>
			            <div class="box-body">
				            <div class="row box" ng-repeat="q in cvObject.qualifications" style="margin-bottom: 3%; padding: 2%">
				            	<div class="col-md-12">
				            		<label>Title</label><br>
				            		[[ q.title ]]
				            	</div>	
				            	<br><br><br><br>
				            	<div class="col-md-12">
				            		<label>Text</label><br>
				            		[[ q.text ]]
				            	</div>			
				            	<br><br><br><br>    		
				            	<div class="col-md-12">
				            		<label>Summary</label><br>
				            		[[ q.summary ]]
				            	</div>				        		
				        	</div>
				        	<br>		        	
			        	</div>			            
			          </div>		        	
		        </div>



		        <div class="panel-body">
		        	<div class="box box-primary">
			            <div class="box-header with-border">
			              <h3 class="box-title text-center">Work Experience</h3>
			            </div>
			            <br>
			            <div class="box-body">
				            <div class="row box" ng-repeat="w in cvObject.work_experiences" style="margin-bottom: 3%; padding: 2%">
				            	<div class="col-md-12">
				            		<label>Title</label><br>
				            		[[w.title]]
				            	</div>
				            	<br><br><br><br>
				            	<div class="col-md-12">
				            		<label>Company</label><br>
				            		[[w.company]]
				            	</div>
				            	<br><br><br><br>
				            	<div class="col-md-12">
				            		<label>Role</label><br>
				            		[[w.role]]
				            	</div>
				            	<br><br><br><br>
				            	<div class="col-md-12">
				            		<label>Summary</label><br>
				            		[[w.summary]]
				            	</div>

				        	</div>
				        	<br>		        	
			        	</div>			            
			          </div>		        	
		        </div>


		        <div class="panel-body">
		        	<div class="box box-primary">
			            <div class="box-header with-border">
			              <h3 class="box-title text-center">Projects</h3>
			            </div>
			            <br>
			            <div class="box-body">
				            <div class="row box" ng-repeat="p in cvObject.projects" style="margin-bottom: 3%; padding: 2%">
				            	<div class="col-md-12">
				            		<label>Title</label><br>
				            		[[p.title]]
				            	</div>
				            	<br><br><br><br>
				            	<div class="col-md-12">
				            		<label>Summary</label><br>
				            		[[p.summary]]
				            	</div>				        		
				        	</div>
				        	<br>		        	
			        	</div>			            
			          </div>		        	
		        </div>

		   

		        <br>

		    </div>
    	</div>
    </div>
</div>

<div class="row">
	<div class="col-md-12">
		<center>
			<button class="btn btn-md btn-success" ng-click="reset()">RESET</button>
		</center>
	</div>
</div>



<div class="modal fade" data-keyboard="false" id="sampleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Sample JSON</b></h4>
            </div>
            <div class="modal-body">
            	<p>
            	<pre>
            		
{
  "name": "aliasav",
  "email": "saurabh.av@cube26.com",
  "dob": "24-05-1993",
  "phone_number": "9953092832",
  "stackOverFlowLink": "http://stackoverflow.com/users/3725732/aliasav",
  "linkedinLink": "https://in.linkedin.com/in/saurabhav",
  "githubLink": "https://github.com/aliasav",
  "qualifications": [
	{
	  "title": "BE Computer Science", 
	  "text": "Computer Science from Thapar University ", 
	  "summary": "Learned the art of computer science!"
	}
  ],
  "work_experiences": [
	{
	  "title": "Cure On Delivery: Platforms Engineer", 
	  "company": "Cure On Delivery", 
	  "role": "Platforms Engineer", 
	  "from_date": "1-1-2015", 
	  "to_date": "6-6-2015", 
	  "summary": "Learnt about software development!"
	},
	{
	  "title": "Cube26", 
	  "company": "COD", 
	  "role": "Platforms Engineer", 
	  "from_date": "1-1-2015", 
	  "to_date": "6-6-2015", 
	  "summary":""
	}
  ],	
  "projects": [
	{"title": "Smokeager"}, 
	{"title": "Remembrall", "summary": "Command line to do list"}
  ]
}
			</pre>
			</p>
            	
            </div>            
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
