<section class="content-header" style="margin-bottom:2%;">
   <h1>
    Dashboard    
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>


<div class="container">
    <div class="row">
    	<div class="col-md-12">
    		
    		<div class="panel panel-info">
		        <div class="panel-heading">
		        	<div class="row">
		        		<div class="col-md-12">
		        			CV Uploader
		        		</div> 	
		        	</div>		        			            
		        </div>
		        

		        <div class="panel-body">
		        	<div class="box box-primary">			           
			        	<div class="row">
				        	<div class="text-center col-md-8 col-md-offset-2">
				        		<br><br>
				        		<p>
				        			Upload a JSON with particular fields that is validated and then saved in the Database.<br>
				        			Custom REST APIs have been built using Python (coupled with Django framework).<br>
				        			A Data validation class has been written that validates the uploaded JSON.<br>
				        			Custom methods for data fetching have been used.

				        		</p>
				        		<br>
				        		<center> <button class="btn btn-primary btn-md" ng-click="stateChange('dashboard.cvUploader')">CV Uploader</button> </center>
				        		<br>
				        	</div>
				        </div>
			            		            
			          </div>		        	
		        </div>


		    </div>
    	</div>
    </div>
</div>

<div class="container">
    <div class="row">
    	<div class="col-md-12">
    		
    		<div class="panel panel-info">
		        <div class="panel-heading">
		        	<div class="row">
		        		<div class="col-md-12">
		        			Tic Tac Toe
		        		</div> 	
		        	</div>		        			            
		        </div>
		        

		        <div class="panel-body">
		        	<div class="box box-primary">			           
			        	<div class="row">
				        	<div class="text-center col-md-8 col-md-offset-2">
				        		<br><br>
				        		<p>
				        			The classic Tic Tac Toe game! Only you can't win this one!<br>
				        			Minimax algorithm has been used to create game tree and select best possible move.<br>
				        			The Minimax algorithm however fails for a 4X4 or 5X5 board, in that case Alpha-Beta pruning algorithm should be used.
				        		</p>
				        		<br>
				        		<center> <button class="btn btn-primary btn-md" ng-click="stateChange('dashboard.ticTacToe')">Tic-Tac-Toe</button> </center>
				        		<br>
				        	</div>
				        </div>
			            		            
			          </div>		        	
		        </div>


		    </div>
    	</div>
    </div>
</div>

<div class="container">
    <div class="row">
    	<div class="col-md-12">
    		
    		<div class="panel panel-info">
		        <div class="panel-heading">
		        	<div class="row">
		        		<div class="col-md-12">
		        			URL Shortner
		        		</div> 	
		        	</div>		        			            
		        </div>
		        

		        <div class="panel-body">
		        	<div class="box box-primary">			           
			        	<div class="row">
				        	<div class="text-center col-md-8 col-md-offset-2">
				        		<br><br>
				        		<p>
				        			Shortens a given URL. The shortened and the original URL(s) are saved in the server.<br>
				        		 	A re-directable URL is returned that sends user to the original URL.</p>
				        		<br>
				        		<center> <button class="btn btn-primary btn-md" ng-click="stateChange('dashboard.urlShortner')">URL Shortner</button> </center>
				        		<br>
				        	</div>
				        </div>
			            		            
			          </div>		        	
		        </div>


		    </div>
    	</div>
    </div>
</div>


<div class="container">
    <div class="row">
    	<div class="col-md-12">
    		
    		<div class="panel panel-info">
		        <div class="panel-heading">
		        	<div class="row">
		        		<div class="col-md-12">
		        			Miscellaneous Notes
		        		</div> 	
		        	</div>		        			            
		        </div>
		        

		        <div class="panel-body">
		        	<div class="box box-primary">			           
			        	<div class="row">
				        	<div class="col-md-8 col-md-offset-2">
				        		<br><br>
				        		<p>
				        			<ul>
				        				<li>
				        					I have user a Digital Ocean server that was spawned and set up from scratch. A single Django project has been used for all the tasks.
				        				</li><br>

				        				<li>
				        					Installed Python2.7 with other needed dependencies such as dev tools, virtualenv, pip etc. 
				        				</li><br>

				        				<li>
				        					nGinx was used as Reverse proxy cum static file server. uWSGI is used as application server. Loggers have been enabled and monitored from reverse proxy to application server.
				        				</li><br>

				        				<li>
				        					Git-flow is used for version control.
				        				</li><br>

				        				<li>
				        					Angular is used for frontend, a SPA architecture has been implemented. Proper modules for services, controllers and utilities have been set up.
				        				</li><br>

				        				<li>
				        					For server security, password based authentication has been disabled and SSH key based auth has been enabled. Application is running as a different user than root and none of the services are running as root.
				        				</li><br>

				        				<li>
				        					SQLite database has been used right now, but can migrate to Postgres if needed.
				        				</li><br>

				        				<li>
				        					If time would have permitted, I would have worked on the following features: 
				        					<br><br>
				        					Ansible deployment as compared to the simple bash script based deployment. Ansible deployment would allow remote deployments with automation for requirement installation, database migrations, static file settings etc.
				        					<br><br>
				        					Implement the Alpha-beta prunning algorithm for NXN board.
				        					<br><br>
				        					Write tests for my code, preferably shift to test driven development.
				        					<br><br>
				        					Work on building a better UI in the frontend.
				        				</li><br>

				        			</ul>
				        		</p>
				        	</div>
				        </div>
			            		            
			          </div>		        	
		        </div>


		    </div>
    	</div>
    </div>
</div>
