<section class="content-header" style="margin-bottom:2%;">
   <h1>
    URL Shortner
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">URL Shortner</li>
  </ol>
</section>


<div class="container">
    <div class="row">
    	<div class="col-md-12">
    		
    		<div class="panel panel-info">
		        <div class="panel-heading">
		        	<div class="row">
		        		<div class="col-md-12">
		        			<center><h4><b>Shorten a URL!</b></h4></center>
		        		</div> 	
		        	</div>		        			            
		        </div>
		        

		        <div class="panel-body">
		        	<div class="box box-primary">			            
			            			        				            
			            <div class="box-body">
				            <div class="row">
				            	<div class="col-md-8 col-md-offset-2">				            	
				            		<br><br>
				            		<label>Enter URL:</label>
				            		<br>
				            		<input type="text" class="form-control" ng-model="inputUrl">
				            		<br>

				            		<center>
				            			<button class="btn btn-primary btn-md" ng-click="shorten()">Shorten!</button>
				            		</center>		
				            		<br>
				            	</div>	

				            	<div class="col-md-8 col-md-offset-2">
				            		
				            		<label>Short URL:</label>
				            		<br>
				            		<center>
				            			[[ response ]]
				            		</center>		
				            		<br>
				            	</div>

				            	<div class="col-md-8 col-md-offset-2" ng-show="success">
				            		
				            		<label>Access this url at:</label>
				            		<br>
				            		<center>
				            			<a href="[[ redirectUrl ]]" target="_blank">[[ redirectUrl ]]</a>
				            		</center>		
				            		<br>
				            	</div>


				        	</div>				        		
			        	</div>			            
			          </div>		        	
		        </div>
		        

		    </div>
    	</div>
    </div>
</div>