<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cube26 Notification Panel</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ STATIC_URL }}/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ STATIC_URL }}/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--{% block angular_requirements %}
         <script src="{{ STATIC_URL }}/node_modules/angular/angular.js"></script>
         <script src="{{ STATIC_URL }}angular_apps/registration/app.js"></script>
         <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
         <script src="{{ STATIC_URL }}angular_apps/registration/controllers.js"></script>
    {% endblock angular_requirements %} -->

</head>


<body>

<div class="container">

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 text-center">
            <h3>
                <b>Cube 26 Notifications Store</b>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <center>                
                <img class="img-responsive" src="{{ STATIC_URL }}img/404.png">                    
            </center>            
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 text-center">
            <h4>
                Oops! Seems like you're lost!<br><br><br>
                Let's get you back to <a href="http://notification.store.cube26.com/home/#/dashboard/home">Cube26 Notifications Store</a>
            </h4>
        </div>
    </div>
</div>


</body>

<!-- jQuery -->
    <script src="{{ STATIC_URL }}/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ STATIC_URL }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ STATIC_URL }}/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ STATIC_URL }}/dist/js/sb-admin-2.js"></script>
    

</html>
